@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=IM+Fell+English+SC&family=Manrope&display=swap');

body{
    margin: 0px;
    background-color: rgb(100, 40, 40);
}


#master-container{
    display: grid;
    height: 400vh;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4,100vh);
    grid-template-areas: 
    "g1"
    "g2"
    "g3"
    "g4";

}

/* Starthemsida */
#container1{
    grid-area: g1;
    display: grid;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "hd1 hd1"
    "nav1 gob";
}

.masterheader{
    grid-area: hd1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(120, 78, 73);
    box-shadow: -10px 0px 21px -10px rgba(0,0,0,0.75);
    border-radius: 100px;
    border: double;
    border-width: 7px 7px;
    margin: 10px;

}

.w_nav{
    grid-area: nav1;
    background-color: blue;
}

/* Produkthemsida */
#container2{
    grid-area: g3;
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 2fr 6fr 2fr;
    grid-template-areas: 
    "hd2"
    "ar"
    "mn";
}

.header2 {
    grid-area: hd2;
    background-color: rgb(120, 78, 73);
    z-index: -10;
    margin: 10px;
    border-radius: 10px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: double;
    border-width: 7px 7px;
    margin: 10px;
    
}

.main2 {
    grid-area: mn;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(193, 189, 182);
    z-index: -10;
    border-radius: 100px;
    border: double;
    border-width: 7px 7px;
    padding: 0vw 10vw 0vw 10vw;
}

#porridge {
    font-family: 'Alegreya Sans', sans-serif;
}

#milkshake {
    font-family: 'Alegreya Sans', sans-serif;   
}

#beans {
    font-family: 'Alegreya Sans', sans-serif;
}

.disnone{
    display: none;
}

.dis{
    display: block;
}

.article2 {
    grid-area: ar;
    position: relative;
    z-index: 0;
}

#product1 {
    font-family: 'IM Fell English SC', serif;
    font-size: 40px;
}

#product2 {
    font-family: 'IM Fell English SC', serif;
    font-size: 40px;
}

#product3 {
    font-family: 'IM Fell English SC', serif;
    font-size: 40px;
}


#beverage1 {
    width: 60%;
    height: 100%;
    background-image: url(/img/beans.jpg);
    background-color: red;
    background-size: cover;
    margin: 0px;
    position: relative;
    left: 15vw;
    top: 0%;
    transition: left 1s;
    box-shadow: -10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
    border-radius: 10px; 
}

#beverage2 {
    
    width: 60%;
    height: 100%;
    background-image: url(/img/porridge.jpg);
    background-size: cover;
    margin: 0px;
    position: relative;
    left: 20vw;
    top: -60vh;
    transition: left 1s;
    box-shadow: -10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 11;
    border-radius: 10px;
}

#beverage3 {  
    width: 60%;
    height: 100%;
    background-image: url(/img/beverage.jpg);
    background-size: cover;
    margin: 0px;
    position: relative;
    left: 10vw;
    top: -120vh;
    transition: left 1s;
    box-shadow: -10px 0px 21px 0px rgba(0,0,0,0.75);
    z-index: 8;
    border-radius: 10px;

}

.selector {
    background-color:  rgb(193, 189, 182);
    width: 25vw;
    height: 25vw;
    position: absolute;
    
    left: 45vw;
    
    top: calc(218vh - 12.5vw);
    z-index: 200;
    border-radius: 50%;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    cursor: pointer;
    border: double;
    border-width: 7px 7px;

}

#beverage3.show{
    left: 0vw;
    width: 80%;

}

#beverage3.show2{
    left: 40vw;
   
    z-index: 12;
}

#beverage3.hide{
    left: 20vw;
    z-index: 40;
    

}

#beverage3.hide2{
    left: 15vw;
   
    
}

#beverage2.show{
    left: 0vw;
  
    z-index: 8;

}

#beverage2.show2{
    left: 40vw;

    
}

#beverage2.hide{
    left: 20vw;
    z-index: 40;


}

#beverage2.hide2{
    left: 10vw;
 
    z-index: 0;
    
}

#beverage2.hide3{
    left: 15vw;
 
    z-index: 15;
    
}

#beverage1.show{
    left: 0vw;

  
}

#beverage1.show2{
    left: 40vw;

}

#beverage1.hide{
    left: 20vw;
    z-index: 40;

  
}

#beverage1.hide2{
    left: 15vw; 
}

.slightshift{
    left: 10vw; 
}

/* Om oss */

#container3{
    grid-area: g2;
    display: grid;
    height: 100vh;
    grid-template-columns:  100%;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
    "hd3 hd3"
    "dv4 dv4";
}

.header3 {
    grid-area: hd3;
    background-color: rgb(120, 78, 73);
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 10vw;
    border-radius: 100px;
    border: double;
    border-width: 7px 7px;
    margin: 10px;
}

h3 {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: calc((5vw + 5vh)/4);
    margin: 0px;
}

h2 {
    font-family: 'IM Fell English SC', serif;
    font-size: calc((7vw + 7vh)/4);
    margin: 0px;
}

h1 {
    font-family: 'IM Fell English SC', serif;
    font-size: calc((12vw + 12vh)/4);
    margin: 0px;
}

/* ändrade abtus_p till p för att streamlina paragrafer */
.abtuscontent {
    grid-area: dv4;
    background-color: rgb(193, 189, 182);
    padding: 3vh 10vw 0vw 10vw;
    border-radius: 100px;
    border: double;
    border-width: 7px 7px;
}

p {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: calc((3vw + 3vh)/2);
}

/* ändrade abtus_p till p för att streamlina paragrafer */

/* Our Locations and contact information */
#container4 {
    grid-area: g4;
    display: grid;
    height: 100vh;
    grid-template-columns:  100%;
    grid-template-rows: 1fr 9fr;
    grid-template-areas: 
    "hd4"
    "mn3";
}

.header4 {
    grid-area: hd4;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: double;
    border-width: 7px 7px;
    background-color: rgb(120, 78, 73);
}

.main3 {
    grid-area: mn3;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
    flex-wrap: wrap;
}

.location1 {
    background-color: rgb(193, 189, 182);
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
    width: 80%;
    height: 80vw;
    margin: 0px;
    box-shadow: -10px 0px 21px -10px rgba(0,0,0,0.75);
    border-radius: 100px;
    border: double;
    border-width: 7px 7px;
}

img {
    height: 60%;
    width: 100%;
    border-radius: 100px 100px 10px 10px; 
}

.location2 {
    background-color: rgb(193, 189, 182);
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
    width: 80%;
    height: 80vw;
    margin: 10px;
    box-shadow: -10px 0px 21px -10px rgba(0,0,0,0.75);
    border-radius: 100px;
    border: double;
    border-width: 7px 7px;
}

.location3 {
    background-color: rgb(193, 189, 182);
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 10px;
    width: 80%;
    height: 80vw;
    margin: 0px;
    box-shadow: -10px 0px 21px -10px rgba(0,0,0,0.75);
    border-radius: 100px;
    border: double;
    border-width: 7px 7px;
}



li {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: calc((3vw + 3vh)/2);
}

@media (min-width: 768px){
    .location1 {
        background-color: rgb(193, 189, 182);
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 10px;
        width: 550px;
        height: 800px;
        margin: 0px;
        box-shadow: -10px 0px 21px -10px rgba(0,0,0,0.75);
        border-radius: 100px;
        border: double;
        border-width: 7px 7px;
    }
    
    img {
        height: 60%;
        width: 100%;
        border-radius: 100px 100px 10px 10px; 
    }
    
    .location2 {
        background-color: rgb(193, 189, 182);
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 10px;
        width: 550px;
        height: 800px;
        margin: 10px;
        box-shadow: -10px 0px 21px -10px rgba(0,0,0,0.75);
        border-radius: 100px;
        border: double;
        border-width: 7px 7px;
    }
    
    .location3 {
        background-color: rgb(193, 189, 182);
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 10px;
        width: 550px;
        height: 800px;
        margin: 0px;
        box-shadow: -10px 0px 21px -10px rgba(0,0,0,0.75);
        border-radius: 100px;
        border: double;
        border-width: 7px 7px;
    }
    
}