body{
    margin: 0px;
}


#master-container{
    display: grid;
    height: 400vh;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4,100vh);
    grid-template-areas: 
    "g1"
    "g2"
    "g3"
    "g4";
}


#container2{
    grid-area: g2;
    display: grid;
    height: 100vh;
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "hd ar"
    "mn ar";
}

.header2 {
    grid-area: hd;
    background-color: brown;
    z-index: 10;
}

.main2 {
    grid-area: mn;
    background-color: antiquewhite;
    z-index: 10;
}

.article2 {
    grid-area: ar;
    background-color: aquamarine;

    position: relative;
    z-index: -200;
}



#beverage1 {
    width: 40%;
    height: 600px;
    background-color: blueviolet;
    margin: 0px;
    position: relative;
    left: 20%;
    top: -50%;
    transition: left 1s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: -10;
    
}

#beverage2 {
    width: 80%;
    height: 90%;
    background-color: blueviolet;
    margin: 0px;
    position: relative;
    right: -900px;
    transition: right 1s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: -10;

}

.selector {
    background-color: green;
    width: 25vw;
    height: 25vw;
    position: absolute;
    right: calc(12.5vw);
    top: calc(-12.5vw);
    z-index: 200;
    border-radius: 50%;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    cursor: pointer;

}



#beverage1.show{
    left: 200px;
    width: 80%;
    background-color: aqua; 
}

.article2 #beverage2.show2{
    right: 0px;
    width: 80%;
    
}